/*Styles for Modal*/
.modal__container{
    width: 500px;
    flex-direction: column;
    display: flex;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    padding: 0 10px 10px 40px;
    transition: opacity 0.5s ease;
    background-color: white;
    border-radius: 20px;

}
.modal__container.modal__container--visible {
    opacity: 1;
    visibility: visible;
}

.modal__start{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__text{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.modal__text_title{
    font-weight: 700;
    font-size: 40px;
}
.modal__text_other{
    font-size: 40px;
    font-weight: 300;
}
.modal__welcome{
    padding-top: 80px;
    font-weight: 700;
    font-size: 20px;
}
.modal__inputs{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 50px;
}
.modal__links{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    row-gap: 30px;
}
.modal__links_item{
    font-size: 15px;
    color: dodgerblue;
    font-weight: 500;
    cursor: pointer;
}
.modal__links_item:hover{
    text-decoration: underline;
}
.modal__support{
    padding-top: 160px;
    display: flex;
    column-gap: 10px;
    align-items: center;

}
.modal__support_img{
    width: 20px;
    height: 20px;
    color: rgb(187,194,202);
}
.modal__support_text{
    font-size: 15px;
    color: rgb(187,194,202);
}
.modal__exit{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*Styles for reg__modal*/
.reg__modal{
    width: 600px;
    border: 5px solid blue;
    row-gap: 20px;
    flex-direction: column;
    display: flex;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 300px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.reg__modal.reg__modal--visible {
    opacity: 1;
    visibility: visible;
}

/*Styles for pass__modal*/

.pass__modal{
    background-color: white;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 5px solid blue;
}
.pass__modal.pass__modal--visible {
    opacity: 1;
    visibility: visible;
}
.links__modal_exit{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
}